body{
    background-color: antiquewhite;
    margin-top: 18px;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
}

.heading{
    outline: solid;
    height: 210px;
    background-color: azure;
    border-radius: 20px;
}

.address{
    outline: solid;
    height: 80px;
    margin-top: -2cm;
    background-color: azure;
    border-radius: 20px;
}


h1 {
    text-align: center;
    margin-top: -111px;
    float: middle;
}

h2 {
    text-align: center;
    font-size: 27px;
    margin-top: -10px;
}

img {
    margin-left: 25px;
    margin-top: 40px;
    width: 10%;
}

input {
    margin-top: 50px;
    margin-left: 20px;
}

.location {
    margin-top: 100px;
    margin-left: 20px;
    font-weight: bold;
    padding-top: 5px;
}

.UHID {
    margin-top: -60px;
    float: right;
    margin-right: 220px;
    font-weight: bold;
}

.UHID1{
    margin-right: 20px;
    margin-top: -60px;
    width: 180px;  
    float: right;
    border-color: black;
    border-radius: 5px;
}

#date_2{
    margin-top: -35px;  
    margin-right: 268px;
    font-weight: bold;
    float: right;
}

#date_3{
    margin-top: -33px;
    float: right;
    margin-right: 145px;
    border-color: black;
    border-radius: 5px;
}


.Patientdetail{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    margin-top: 26px;
    padding-top: 15px;
}

.Patient{
    outline: solid;
    height: 255px;
    background-color: azure;
    border-radius: 20px;
}

p2{
    font-size: 19px;
    margin-left: 20px;
    font-weight: bold;
}

p3{
    font-size: 19px;
    margin-left: 20px;
    font-weight: bold;
}

p4{
    font-size: 19px;
    margin-left: 20px;
    font-weight: bold;
}

p5{
    font-size: 19px;
    margin-left: 20px;
}

p6{
    font-size: 19px;
    margin-left: 82px;
}

p7{
    font-size: 19px;
    margin-left: 82px;
}

p8{
    float: right;
    margin-right: 50px;
    margin-top: -230px;
    font-size: 19px;
    font-weight: bold;
}

p9{
    float: right;
    margin-right: 112px;
    font-size: 19px;
    margin-top: -150px;
    font-weight: bold;
}

#address_4{
    margin-top: -8px;
    font-size: 19px;
    margin-left: 20px;
    font-weight: bold;
}

#mobile_no_1{
    width: 150px; 
    border-color: black;
    border-radius: 5px;  
}

#mobile_no_2{
    margin-top: -211px;   
}

#time_2 {
    margin-top: -133px;   
}


#time_3{
    margin-top: 10px;
    margin-right: 60px; 
    border-color: black;
    border-radius: 5px;  
}


#name_1{
    margin-top: 10px;
    width: 200px;  
    border-radius: 5px; 
}

.sex_1{
    border-radius: 15px;
    

}
#age_1{
    margin-top: -5px;
    width: 60px; 
    border-radius: 5px;  
    border-color: black;
}

#address_1{
    margin-left: 100px;
    margin-top: -50px;
    width: 350px;  
    background-color: white;  
    padding-bottom: 20px;
    border-color: black;
}


#diagnostic_2{
    text-align: center;
    margin-top: 28px;
    font-size: 23px;
    font-weight: bold;
    padding-top: 15px;
}

#date_time{ 
    margin-left: 20px;
    font-size: 17px;
    margin-top: -50px;
    font-family: arial black;
}

.diagnostic{
    outline: solid;
    margin-top: 20px;
    height: 2300px;
    background-color: beige;
    border-radius: 20px;
}


#date_1{
   margin-left: -2px;
}  
#time_1{
   height: 15px;
   margin-left: -2px;
}

.ta_1{
    margin-left: 230px;
    margin-top: -40px; 
    border-color: black;  
} 


textarea {
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #494848;
    letter-spacing: 1px;
    background-color: #ffffff;
    border-color: black;
  }

  

#Examination_Findings{
    margin-left: 20px;
    font-size: 17px;
    font-family: arial black;
}

#Investigation{
    margin-left: 20px;
    font-size: 17px;
    font-family: arial black;
}

#Diagnosis_1{
    margin-left: 20px;
    font-size: 17px;
    font-family: arial black;
}


#Treatment{
    margin-left: 20px;
    font-size: 17px;
    font-family: arial black;
}


#Follow_up_advice{
    margin-left: 20px;
    font-size: 17px;
    font-family: arial black;
}


#Doctor_Name{
    margin-left: 20px;
    font-size: 20px;
    float: right;
    margin-right: 90px;
    margin-top: 450px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#Signature_Date{
    margin-left: 20px;
    font-size: 20px;
    float: right;
    margin-right: -148px;
    margin-top: 500px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
